<html lang="de">
<!-- Head tag -->
<%- partial('_partial/head') %>
</html>

<body>
<!-- Menu -->
<%- partial('_partial/menu') %>

<main>
    <div class="container">
        <%- body %>
    </div>
</main>

<%- partial('_partial/footer') %>
<!-- After footer scripts -->
<%- partial('_partial/after-footer') %>
</body>